*{
  padding:0;
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}


.main-wrapper,.mainvisual{
  max-width: 70%;
  margin:0 auto 200px auto;
  
}



.fadein{
  opacity: 0;
  transition: 1.5s;
  transform: translate3d(0,-10px,0);
}

.fadein.animated{
  opacity: 1;
  transform: translate3d(0,0,0);
}


/*header*/
.head-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  max-width: 70%;
  margin:0 auto  ;
}

h1{
  font-family: serif;
}

.head-wrapper ul{
  display:flex;
  padding:10px;
  margin: 0 30px 0 auto;
}

.head-wrapper li{
  margin-left: 30px;
  padding-left: 5px;
  border-left:1px solid;
}

.head-wrapper a{
  color: black;
}

.site-title{
  display: inline-block;
}

.title{
  padding-bottom: 30px;
  text-align: center;
  font-size: 50px;
  font-family: serif;
}


/*main*/
.mainvisual{
  position: relative;
  top:100px
}

.place{
  position:absolute;
  top:80%;
  left:80%;
  color:white;
  font-family: serif;
  display: none;
 }

.mainvisual img{
  width: 100%;
  height:600px;
  object-fit: cover;
  margin-bottom:100px;
}



.profile-img img{
  border-radius: 30px;
}




h3{
  padding-bottom: 50px;
}

.hobby-desc img{
  height:300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.desc{
  text-align: center;
  padding-top: 20px;
}



.career{
 text-align: center;
}

.career ul{
  display: inline-block;
}

.career ul li{
  text-align: left;
}

.program-lang img{
  height:300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  
}

.studying {
  margin-bottom: 100px;
}

/*footer*/
footer{
  background-color:black;
  padding: 20px;
}

.copyright{
  text-align: center;
  color: white;
}